package {{ .Day }}_test

import (
  "aoc/{{ .Day }}"
  "testing"
)

const input = "input_test.txt"

func TestPartOne(t *testing.T) {
  t.Skip()

  expected := 0
  actual := {{ .Day }}.PartOne(input)

  if expected != actual {
    t.Errorf("Expected: %d, Receieved: %d", expected, actual)
  }
}

func TestPartTwo(t *testing.T) {
  t.Skip()

  expected := 0
  actual := {{ .Day }}.PartTwo(input)

  if expected != actual {
    t.Errorf("Expected: %d, Receieved: %d", expected, actual)
  }
}
