package {{ .Day }}

func Main(inputFile string) (any, any) {
  slnOne := PartOne(inputFile)
  slnTwo := PartTwo(inputFile)

  return slnOne, slnTwo
}

func PartOne(inputFile string) int {
  return 0
}

func PartTwo(inputFile string) int {
  return 0
}
