package {{ .Day }}

function Main(inputFile string) int {
  slnOne := PartOne(input)
  slnTwo := PartTwo(input)
}

func PartOne(inputFile string) int {
  return 0
}

func PartTwo(inputFile string) int {
  return 0
}
